<h1>Editing matchguess</h1>

<% form_for(@matchguess) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @matchguess %> |
<%= link_to 'Back', matchguesses_path %>